[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mapsapi"]
	path = mapsapi
	url = https://github.com/michaeldorman/mapsapi
[submodule "nngeo"]
	path = nngeo
	url = https://github.com/michaeldorman/nngeo
[submodule "starsExtra"]
	path = starsExtra
	url = https://github.com/michaeldorman/starsextra
